<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>Page potin   !</h1>
    <p>Voici la page du potin  </p>
    <p> Son auteur : <%=  gossips[0] %></p><br/>
    <p> Son potin : <%=  gossips[1] %></p><br/>
    <br/>
    <a href="/"> Editer le potin</a>
    <a href="/"> Acceuil</a>
  </body>
</html>